<div class="container">
  <h1 class="text-center mt-5"><%= @space.title %> (<%= @space.location %>)</h1>
  <div class="row my-5">
    <div class="col-sm-7 pr-sm-5">
      <div class="slider">
        <div id="primary-slider">
          <div class="splide__track">
            <ul class="splide__list">
              <% @space.photos.each do |photo| %>
                <li class="splide__slide">
                  <%= cl_image_tag photo.key %>
                </li>
              <% end %>
            </ul>
          </div>
        </div>
        <div id="secondary-slider">
          <div class="splide__track">
            <ul class="splide__list">
            <% @space.photos.each do |photo| %>
              <li class="splide__slide">
                <%= cl_image_tag photo.key %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
      <div class="space-description-card mb-4 mb-sm-0">
        <p><%= @space.description %></p>
        <p><strong><%= @space.price %>€</strong> per day</p>
      </div>
    </div>
    <div class="col-sm-5 pl-sm-3">
      <div class="d-flex flex-column space-info-card">
        <div id="map"
             class="space-info-card__map"
             style="width: 100%; height: 600px;"
             data-marker="<%= @marker.to_json %>"
             data-mapbox-api-key="<%= ENV['MAPBOX_API_KEY'] %>"></div>
        <div class="space-info-card__details">
          <p><i class="fas fa-map-marker-alt mr-1 text-muted"></i><%= @space.location %></p>
          <p><strong>Phone:</strong> +49 30 2343465</p>
          <p><strong>Opening hours:</strong> 9:00 - 18:00</p>
        </div>
      </div>
      <div class="datepicker-card">
        <div class="d-flex flex-column justify-content-center align-items-center" style="width: 400px; margin: 0 auto;">
          <%= simple_form_for [@space, @booking] do |f| %>
            <%= f.input :starting_date, as: :string, required: false, label: false, input_html: {class: "datepicker invisible"} %>
            <%= f.button :submit, "Book", class: "btn btn-flat datepicker-btn", style: 'width:100%', disabled: true%>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>